* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    color: #ffffff;
}

window#waybar {
    background-color: rgba(34, 34, 34, 0.65); /* شفافية قوية */
    border-radius: 16px;
    padding: 6px 12px;
    margin: 0px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.45);
}

#workspaces button {
    padding: 6px 10px;
    margin: 0 4px;
    border-radius: 12px;
    background: rgba(255,255,255,0.1);
}

#workspaces button.active {
    background: rgba(255,255,255,0.3);
    font-weight: bold;
}

#clock,
#network,
#bluetooth,
#pulseaudio,
#battery,
#tray {
    margin: 0 10px;
    padding: 4px 8px;
    background: rgba(255,255,255,0.1);
    border-radius: 12px;
}

#pulseaudio {
    padding-right: 12px;
}

