window {
    margin: 10px;
    padding: 20px;
    background-color: rgba(46, 52, 64, 0.7); /* شفافية */
    border-radius: 15px;
    border: 1px solid rgba(216, 222, 233, 0.2); /* Frost effect */
}

#input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(59, 66, 82, 0.6);
    color: #eceff4;
}

#inner-box {
    background-color: transparent;
}

#outer-box {
    background-color: transparent;
}

#entry {
    padding: 10px;
    border-radius: 10px;
}

#entry:selected {
    background-color: rgba(129, 161, 193, 0.4); /* Nord frost */
    color: #eceff4;
}

#text {
    color: #d8dee9;
}

